@include block(section) {
  position: relative;
  padding: rem(70px) 0;
  @include modifier(wave){
    margin-top: rem(60px);
    padding-top: 3rem;
    @include element(wave){
      width: 100%;
      height: 60px;
      position: absolute;
      top: -60px;
      background: url(../images/wave-white.svg);
      background-size: cover;
    }
  }
  @include modifier(bg) {
    background: $bgGray;
    @include element(wave){
     
      background: url(../images/wave1.svg);
     
    }
    &top{
      margin-top: 0;
      padding-top: 3.5rem;
      
    }
  }

  @include element(title) {
    @extend %weight700;
    @extend %font32;
    margin-bottom: rem(45px);
    @include modifier(2) {
      .section__title-content {
        display: inline;
      }
      .section__title-wave {
        position: unset;
    }
    }
    position: relative;
  }
  @include element(title-content) {
    display: block;
  }
  @include element(title-wave) {
    position: absolute;
  }
  @include element(highlight) {
    color: $primaryColor;
    @extend %weight600;
  }
  @include element(content) {
    @include modifier(left) {
      &center {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        display: flex;
        align-items: center;
      }
    }
    @include modifier(right) {
      &center {
        @extend .section__content--leftcenter;
      }
    }
    p {
      &:last-child {
        margin: 0;
      }
    }
  }

  @include modifier(ccinfo) {
    @include element(card) {
      @extend %notlast30;
    }
  }

  @include modifier(em){
    .service__item{
      @include media-breakpoint-up(lg) {
        max-width: 25%;
        flex: 0 0 25%;
        &:not(:nth-last-child(-n + 3)) {
          margin-bottom: 0;
        }
      }
    }
  }
  @include element(row) {
    @extend .row;

    @include modifier(even) {
      @extend %rowreverse;
    }
  }
}
