@include block(header) {
  background: $primaryColor;
  @include element(container) {
    @extend %disflex;
    @extend %alignCenter;
    justify-content: space-between;
  }
  @include element(nav) {
    margin-left: auto;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  @include element(list) {
    @extend %nostyle;
    @extend %disflex;
    @extend %alignCenter;
  }

  @include element(link) {
    display: block;
    padding: 0.75rem 1rem;
    cursor: pointer;
    @extend %textdecnon;
    color: $lightColor;
  }
  @include element(item) {
    position: relative;
    &:hover,
    &:focus,
    &:focus-within {
      .header__sub-menu {
        display: block;
      }
    }
    @include modifier(last) {
      margin-left: 1rem;
    }
  }
  @include element(sub) {
    &-menu {
      @extend %nostyle;
      position: absolute;
      top: 95%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 16rem;
      margin: 0.125rem 0 0;
      color: $primaryColor;
      text-align: left;
      background-color: $lightColor;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
      overflow: hidden;
    }
    &-item {
      padding: 0.75rem rem(10px);
      &:hover {
        background: #cde5cc;
        .header__sub-link {
          color: darken($primaryColor, 20%);
        }
      }
    }
    &-link {
      @extend %textdecnon;
      color: $primaryColor;
      width: 100%;
    }
  }
  @include element(button) {
    border: 1px solid $lightColor;
    padding: rem(5px);
    background: transparent;
    @include element(icon) {
      background: url("../images/menu.svg") no-repeat;
      background-size: contain;
      display: inline-block;
      width: rem(30px);
      height: rem(30px);
      vertical-align: middle;
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
