@include block(section) {
  @include element(hero) {
    &-container {
      @extend %height100;
    }
    &-title {
      @extend %weight700;
      font-size: rem(24px);
    }
    &-container {
      color: $lightColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-contentwrap {
      max-width: 50%;
      flex: 0 0 50%;
      padding-right: 15px;
      margin-bottom: rem(15px);
      @include media-breakpoint-down(lg) {
        max-width: 55%;
      }
      @include media-breakpoint-down(md) {
        max-width: 75%;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        padding-right: 0;

        .btn {
          width: 100%;
          font-size: 0.85rem;
        }
      }
    }
    &-wrap {
      margin-bottom: rem(44px);
    }
    &-slide {
      @extend %height100;
      .slick {
        &-dots {
          width: 50%;
          left: initial;
          transform: initial;
          bottom: 90px;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }
        &-list {
          @extend %height100;
        }
        &-track {
          @extend %height100;
        }
      }
      &item {
        @for $i from 1 through 4 {
          &#{$i} {
            background: url(../images/slides/slide#{$i}.jpg) no-repeat bottom;
            background-size: cover;
          }
        }
      }
    }
  }
  @include modifier(hero) {
    &-home {
      padding: 0;
      min-height: 600px;
      height: 600px;
    }
  }
  @include modifier(hero-in) {
    background: $lightColor url("../images/hero-bg-in.webp") no-repeat top
      center;
    min-height: rem(466px);
    background-size: cover;
    @extend %disflex;
    &::before {
      content: "";
      position: absolute;
      background: rgba($textColor, 0.6);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    @include element(title) {
      color: $lightColor;
      margin: 0;
    }
    @include element(title-wave) {
      path {
        fill: $lightColor;
      }
    }
  }
}
@include block(hero) {
  @include element(container) {
    @extend %disflex;
    @extend %alignCenter;
    position: relative;
    z-index: 2;
  }
}
