{% set abouthomes = [
    {'title':'Overview'},
    {'title':'The Focus Diffrence'},
    {'title':'Community Support'}
    ]%}
{% import 'macros/blocktitle.html' as blocktitle %}
<section class="section section--bg section--wave section--about">
    <div class="section__wave"></div>
    <div class="container">
        {{blocktitle.blocktitle('2','About Focus Relocation')}}
        <div class="row">
            {% for abouthome in abouthomes%}
                <div class="col-md-6 col-lg-4 section__about-item col-sm-6">
                    <div class="section__card section__card--nobor section__card--wave section__card--center">
                        <div class="section__card-icon">
                        {% if abouthome.title === 'Overview' %}
                        {% include "partials/svgs/overview.html" %}
                        {% elif abouthome.title === 'The Focus Diffrence' %}
                        {% include "partials/svgs/diffrence.html" %}
                        {% else%}
                        {% include "partials/svgs/community.html" %}
                        {% endif %}
                        </div>
                        <div class="section__card-content">
                            <div class="section__wave"></div>
                            <h3 class="section__card-title m0">
                                {{abouthome.title}}
                            </h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>