{% import "macros/inputFeilds.html" as forms %}
<section class="block block--bg-img-cta block--animation">
  <div class="container">
    <div class="block__card block__card--glass block__card--center">
      <h2
        class="block__title block__title--cta animate__slideInUp"
        aria-label="Take Full Control Of Your Home Search With My Crye-Leike"
      >
        Take Full Control Of Your Home Search With
        <span class="block__text-primary">My Crye-Leike</span>
      </h2>
      <div class="block__card-content">
        <p>
          Harold Crye Know Searching For Homes Can Be Difficult With So Many
          Choices And Search Options.
        </p>
        <p>This Process Is Now Much Easier With A My Crye‑Leike Account.</p>
      </div>
      {{forms.link(value='Join Crye leike Now',classes='btn
      btn--invert',iconclass='right-arrow-long',iconpos='right')}}
      <div class="alrady-member">
        If already have account
        <a href="#" class="block__text-primary">Login</a>
      </div>
    </div>
  </div>
</section>
