{% set titleUp = "our" %} {% set titleContent = "Featured Listings" %}
<section class="block block--bg-color property">
  <div class="container">
    {% block heading %}
    <div class="block__title-wrap">
      {% include "partials/sectionHeading.html" %}
    </div>
    {% endblock %}
    <div class="property__btn-group">
      <button
        type="button"
        class="btn btn--border-invert btn--square property__btn property__btn--prev"
      >
        <i class="icon icon-arrow-left"></i>
      </button>
      <button
        type="button"
        class="btn btn--border-invert btn--square property__btn property__btn--next"
      >
        <i class="icon icon-arrow-right"></i>
      </button>
    </div>
    <div class="property__slider">
      <div class="property__item">
        <div class="block__card block__card--picture">
          <picture class="block__card-pirture">
            <source
              srcset="
                dist/images/property-1.webp    1x,
                dist/images/property-1-2x.webp 2x,
                dist/images/property-1-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="dist/images/property-1.jpg"
              srcset="
                dist/images/property-1.jpg    1x,
                dist/images/property-1-2x.jpg 2x,
                dist/images/property-1-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
          <div class="block__card-content property__content">
            <span class="property__price" tabindex="0"> $3,650,000 </span>
            <h3
              class="block__card-title property__title"
              aria-label="1325 Lamar Ave, Memphis, TN 
                                38104"
              role="heading"
              aria-level="3"
              tabindex="0"
            >
              1325 Lamar Ave, Memphis, TN 38104
            </h3>
            <div
              class="property__type"
              tabindex="0"
              aria-label="Property type: Residential / Single Family "
            >
              Residential / Single Family
            </div>
            <div class="property__features">
              <span tabindex="0"> <span class="">5</span> Beds </span>
              <span tabindex="0"> <span class="">4</span> Baths </span>
              <span tabindex="0"> <span class="">1.8</span> Acres </span>
            </div>
            <a href="#">
              View Full details
              <i class="icon icon-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="property__item">
        <div class="block__card block__card--picture">
          <picture class="block__card-pirture">
            <source
              srcset="
                dist/images/property-1.webp    1x,
                dist/images/property-1-2x.webp 2x,
                dist/images/property-1-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="dist/images/property-1.jpg"
              srcset="
                dist/images/property-1.jpg    1x,
                dist/images/property-1-2x.jpg 2x,
                dist/images/property-1-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
          <div class="block__card-content property__content">
            <span class="property__price" tabindex="0"> $3,650,000 </span>
            <h3
              class="block__card-title property__title"
              aria-label="1325 Lamar Ave, Memphis, TN 
                                38104"
              role="heading"
              aria-level="3"
              tabindex="0"
            >
              1325 Lamar Ave, Memphis, TN 38104
            </h3>
            <div
              class="property__type"
              tabindex="0"
              aria-label="Property type: Residential / Single Family "
            >
              Residential / Single Family
            </div>
            <div class="property__features">
              <span tabindex="0"> <span class="">5</span> Beds </span>
              <span tabindex="0"> <span class="">4</span> Baths </span>
              <span tabindex="0"> <span class="">1.8</span> Acres </span>
            </div>
            <a href="#">
              View Full details
              <i class="icon icon-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="property__item">
        <div class="block__card block__card--picture">
          <picture class="block__card-pirture">
            <source
              srcset="
                dist/images/property-1.webp    1x,
                dist/images/property-1-2x.webp 2x,
                dist/images/property-1-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="dist/images/property-1.jpg"
              srcset="
                dist/images/property-1.jpg    1x,
                dist/images/property-1-2x.jpg 2x,
                dist/images/property-1-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
          <div class="block__card-content property__content">
            <span class="property__price" tabindex="0"> $3,650,000 </span>
            <h3
              class="block__card-title property__title"
              aria-label="1325 Lamar Ave, Memphis, TN 
                                38104"
              role="heading"
              aria-level="3"
              tabindex="0"
            >
              1325 Lamar Ave, Memphis, TN 38104
            </h3>
            <div
              class="property__type"
              tabindex="0"
              aria-label="Property type: Residential / Single Family "
            >
              Residential / Single Family
            </div>
            <div class="property__features">
              <span tabindex="0"> <span class="">5</span> Beds </span>
              <span tabindex="0"> <span class="">4</span> Baths </span>
              <span tabindex="0"> <span class="">1.8</span> Acres </span>
            </div>
            <a href="#">
              View Full details
              <i class="icon icon-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="property__item">
        <div class="block__card block__card--picture">
          <picture class="block__card-pirture">
            <source
              srcset="
                dist/images/property-1.webp    1x,
                dist/images/property-1-2x.webp 2x,
                dist/images/property-1-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="dist/images/property-1.jpg"
              srcset="
                dist/images/property-1.jpg    1x,
                dist/images/property-1-2x.jpg 2x,
                dist/images/property-1-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
          <div class="block__card-content property__content">
            <span class="property__price" tabindex="0"> $3,650,000 </span>
            <h3
              class="block__card-title property__title"
              aria-label="1325 Lamar Ave, Memphis, TN 
                                38104"
              role="heading"
              aria-level="3"
              tabindex="0"
            >
              1325 Lamar Ave, Memphis, TN 38104
            </h3>
            <div
              class="property__type"
              tabindex="0"
              aria-label="Property type: Residential / Single Family "
            >
              Residential / Single Family
            </div>
            <div class="property__features">
              <span tabindex="0"> <span class="">5</span> Beds </span>
              <span tabindex="0"> <span class="">4</span> Baths </span>
              <span tabindex="0"> <span class="">1.8</span> Acres </span>
            </div>
            <a href="#">
              View Full details
              <i class="icon icon-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="property__item">
        <div class="block__card block__card--picture">
          <picture class="block__card-pirture">
            <source
              srcset="
                dist/images/property-1.webp    1x,
                dist/images/property-1-2x.webp 2x,
                dist/images/property-1-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="dist/images/property-1.jpg"
              srcset="
                dist/images/property-1.jpg    1x,
                dist/images/property-1-2x.jpg 2x,
                dist/images/property-1-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
          <div class="block__card-content property__content">
            <span class="property__price" tabindex="0"> $3,650,000 </span>
            <h3
              class="block__card-title property__title"
              aria-label="1325 Lamar Ave, Memphis, TN 
                                38104"
              role="heading"
              aria-level="3"
              tabindex="0"
            >
              1325 Lamar Ave, Memphis, TN 38104
            </h3>
            <div
              class="property__type"
              tabindex="0"
              aria-label="Property type: Residential / Single Family "
            >
              Residential / Single Family
            </div>
            <div class="property__features">
              <span tabindex="0"> <span class="">5</span> Beds </span>
              <span tabindex="0"> <span class="">4</span> Baths </span>
              <span tabindex="0"> <span class="">1.8</span> Acres </span>
            </div>
            <a href="#">
              View Full details
              <i class="icon icon-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="property__item">
        <div class="block__card block__card--picture">
          <picture class="block__card-pirture">
            <source
              srcset="
                dist/images/property-1.webp    1x,
                dist/images/property-1-2x.webp 2x,
                dist/images/property-1-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="dist/images/property-1.jpg"
              srcset="
                dist/images/property-1.jpg    1x,
                dist/images/property-1-2x.jpg 2x,
                dist/images/property-1-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
          <div class="block__card-content property__content">
            <span class="property__price" tabindex="0"> $3,650,000 </span>
            <h3
              class="block__card-title property__title"
              aria-label="1325 Lamar Ave, Memphis, TN 
                                38104"
              role="heading"
              aria-level="3"
              tabindex="0"
            >
              1325 Lamar Ave, Memphis, TN 38104
            </h3>
            <div
              class="property__type"
              tabindex="0"
              aria-label="Property type: Residential / Single Family "
            >
              Residential / Single Family
            </div>
            <div class="property__features">
              <span tabindex="0"> <span class="">5</span> Beds </span>
              <span tabindex="0"> <span class="">4</span> Baths </span>
              <span tabindex="0"> <span class="">1.8</span> Acres </span>
            </div>
            <a href="#">
              View Full details
              <i class="icon icon-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="property__item">
        <div class="block__card block__card--picture">
          <picture class="block__card-pirture">
            <source
              srcset="
                dist/images/property-1.webp    1x,
                dist/images/property-1-2x.webp 2x,
                dist/images/property-1-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="dist/images/property-1.jpg"
              srcset="
                dist/images/property-1.jpg    1x,
                dist/images/property-1-2x.jpg 2x,
                dist/images/property-1-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
          <div class="block__card-content property__content">
            <span class="property__price" tabindex="0"> $3,650,000 </span>
            <h3
              class="block__card-title property__title"
              aria-label="1325 Lamar Ave, Memphis, TN 
                                38104"
              role="heading"
              aria-level="3"
              tabindex="0"
            >
              1325 Lamar Ave, Memphis, TN 38104
            </h3>
            <div
              class="property__type"
              tabindex="0"
              aria-label="Property type: Residential / Single Family "
            >
              Residential / Single Family
            </div>
            <div class="property__features">
              <span tabindex="0"> <span class="">5</span> Beds </span>
              <span tabindex="0"> <span class="">4</span> Baths </span>
              <span tabindex="0"> <span class="">1.8</span> Acres </span>
            </div>
            <a href="#">
              View Full details
              <i class="icon icon-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="property__item">
        <div class="block__card block__card--picture">
          <picture class="block__card-pirture">
            <source
              srcset="
                dist/images/property-1.webp    1x,
                dist/images/property-1-2x.webp 2x,
                dist/images/property-1-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="dist/images/property-1.jpg"
              srcset="
                dist/images/property-1.jpg    1x,
                dist/images/property-1-2x.jpg 2x,
                dist/images/property-1-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
          <div class="block__card-content property__content">
            <span class="property__price" tabindex="0"> $3,650,000 </span>
            <h3
              class="block__card-title property__title"
              aria-label="1325 Lamar Ave, Memphis, TN 
                                38104"
              role="heading"
              aria-level="3"
              tabindex="0"
            >
              1325 Lamar Ave, Memphis, TN 38104
            </h3>
            <div
              class="property__type"
              tabindex="0"
              aria-label="Property type: Residential / Single Family "
            >
              Residential / Single Family
            </div>
            <div class="property__features">
              <span tabindex="0"> <span class="">5</span> Beds </span>
              <span tabindex="0"> <span class="">4</span> Baths </span>
              <span tabindex="0"> <span class="">1.8</span> Acres </span>
            </div>
            <a href="#">
              View Full details
              <i class="icon icon-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="property__item">
        <div class="block__card block__card--picture">
          <picture class="block__card-pirture">
            <source
              srcset="
                dist/images/property-1.webp    1x,
                dist/images/property-1-2x.webp 2x,
                dist/images/property-1-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="dist/images/property-1.jpg"
              srcset="
                dist/images/property-1.jpg    1x,
                dist/images/property-1-2x.jpg 2x,
                dist/images/property-1-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
          <div class="block__card-content property__content">
            <span class="property__price" tabindex="0"> $3,650,000 </span>
            <h3
              class="block__card-title property__title"
              aria-label="1325 Lamar Ave, Memphis, TN 
                                38104"
              role="heading"
              aria-level="3"
              tabindex="0"
            >
              1325 Lamar Ave, Memphis, TN 38104
            </h3>
            <div
              class="property__type"
              tabindex="0"
              aria-label="Property type: Residential / Single Family "
            >
              Residential / Single Family
            </div>
            <div class="property__features">
              <span tabindex="0"> <span class="">5</span> Beds </span>
              <span tabindex="0"> <span class="">4</span> Baths </span>
              <span tabindex="0"> <span class="">1.8</span> Acres </span>
            </div>
            <a href="#">
              View Full details
              <i class="icon icon-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
