<footer class="footer">
    <img src="images/dots-square.png" alt="" class="footer__dots">
    <div class="container">
        <div class="footer__logo">
            <picture>
                <source
                    srcset="images/footer-logo.webp 1x, images/footer-logo-2x.webp 2x, images/footer-logo-3x.webp 3x"
                    type="image/webp">
                <img src="images/footer-logo.png"
                    srcset="images/footer-logo.png 1x, images/footer-logo-2x.png 2x,images/footer-logo-3x.png 3x"
                    alt="Crye-Leike logo in white color">
            </picture>
        </div>
        <div class="footer__content">
            Copyright &copy; 2020. All Rights Reserved. Search Memphis Homes For Sale With Crye-Leike. Crye-Leike
            Has Both Company Owned And Franchise Owned Locations. A Star In The
            Office Name Between Crye*Leike Designates The Office As A Franchise, Which Is Independently Owned And
            Operated. Find Information On This Associate's Office And Broker.
        </div>
        <div class="footer__contact">
            <ul class="footer__contact-list">
                <li class="footer__contact-item">
                    <span>
                        Phone:
                    </span>
                    <a href="tel:615-478-7111" class="footer__link">
                        (615) 478-7111
                    </a>
                </li>
                <li class="footer__contact-item">
                    <span>Cell:</span>
                    <a href="tel:(615) 478-7111" class="footer__link">
                        (615) 478-7111
                    </a>
                </li>
                <li class="footer__contact-item">
                    <span>Mail:</span>
                    <a href="mailto:harold.crye@cryeleike.com" class="footer__link">
                        harold.crye@cryeleike.com
                    </a>
                </li>
                <li class="footer__contact-item">
                    <span>Address:</span>
                    <address class="footer__link">
                        964 Main Street Nashville, TN 37206
                    </address>
                </li>
            </ul>
        </div>
        <nav role="navigation" aria-label="footer menu" class="footer__nav">
            <ul role="menubar" class="footer__menu">
                <li class="footer__menu-item" role="menuitem">
                    <a href="" class="footer__link">
                        About
                    </a>
                </li>
                <li class="footer__menu-item" role="menuitem">
                    <a href="" class="footer__link">
                        Contact
                    </a>
                </li>
                <li class="footer__menu-item" role="menuitem">
                    <a href="" class="footer__link">
                        Privacy/Terms
                    </a>
                </li>
                <li class="footer__menu-item" role="menuitem">
                    <a href="" class="footer__link">
                        Learn More About Buying
                    </a>
                </li>
                <li class="footer__menu-item" role="menuitem">
                    <a href="" class="footer__link">
                        Learn More About Selling
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>