{% import "macros/link.html" as links %}
{% import 'macros/picture.html' as pictures %}
{% set headerLinks = [
        {'title': 'Home','link':','},
        {'title': 'Relocation Services','link':','},
        {'title': 'About Us','link':','},
        {'title': 'Contact Us','link':','},
        {'title':' Login','link':','}
    ]%}
<header class="header">
    <div class="container">
        <div class="header__logo">
            <a class="header__logo-link" href="/">
                {{pictures.picture(['images/','logo']|join(),'logo','jpg','')}}
            </a>
        </div>
        <div class="header__list">
            <nav>
                <ul>
                    {% for headerLink in headerLinks %}
                        <li>
                            {{links.link(headerLink.link,headerLink.title)}}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="container header__container">
        {{links.link()}}
    </div>
</header>