{% import "macros/link.html" as links %}
{% import 'macros/picture.html' as pictures %}
{% set headerLinks = [
        {'title': 'Home','link':','},
        {'title': 'Relocation Services','link':','},
        {'title': 'About Us','link':','},
        {'title': 'Contact Us','link':','},
        {'title':' Login','link':','}
    ]%}
   
<header class="header">
    <div class="container header__container">
        <div class="header__logo">
            <a class="header__logo-link" href="/">
                {{pictures.picture(['images/','logo']|join(),'logo','jpg','')}}
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                {% for headerLink in headerLinks %}
                {% set last =  'header__link btn btn--light' if loop.last else 'header__link' %}
                    <li class="header__item">
                        {{links.link(headerLink.link,headerLink.title,last)}}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>