<section class="block block--hero {{"block--hero-in" if heroIn else "block--hero-home"}}">
      <div class="container">
{% if heroIn %}
{% include "partials/pageTitle.html" %}
{% else %}
  <div class="block__card block__card--glass">
                    <h2 class="block__title block__title--light">
                        Search For A Home
                    </h2>
                    <form action="" class="block__form">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form__input-group">
                                    <div class="form__input-group-prepend form__input--select-wrap">
                                        <select class="form__input">
                                            <option value="search-by">Search By</option>
                                            <option value="option1"> option 1 </option>
                                            <option value="option2"> option 2 </option>
                                            <option value="option3"> option 3 </option>
                                            <option value="option4"> option 4 </option>
                                            <option value="option5"> option 5</option>
                                        </select>
                                        <i class=" icon icon-arrow-down" aria-hidden="true"></i>
                                    </div>

                                    <input class="form__input" list="list-values" type="text" aria-label="Search for the proprty here" placeholder="Search By City, Estate or Zip">

                                    <datalist id="list-values">
                                        <option value="Memphis, TN">Memphis, TN</option>
                                        <option value="Memorial Square, GA">Memorial Square, GA</option>
                                        <option value="Memorial Park, TX">Memorial Park, TX</option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <button class="btn btn--primary btn--block" type="submit">Find Your Home</button>
                            </div>
                            <div class="col-md-auto">
                                <button class="btn btn--primary btn--block" type="button">Advanced Search</button>
                            </div>
                        </div>
                    </form>
                </div>
{% endif %}
      </div>




</section>