{% import "macros/inputFeilds.html" as forms %}
<section class="block block--about">
  <img src="images/dots-long.png" class="about__dots" alt="" />
  <div class="container">
    <div class="block__card block__card--bg block__card--norad">
      <div class="row">
        <div class="col-md-3 about__profile">
          <picture>
            <source
              srcset="
                images/name.webp 1x,
                images/name-2x.webp 2x,
                images/name-3x.webp 3x
              "
              type="image/webp"
            />
            <img
              src="images/name.jpg"
              srcset="
                images/name.jpg 1x,
                images/name-2x.jpg 2x,
                images/name-3x.jpg 3x
              "
              alt="Crye-Leike mobile app image "
              class="img-fluid"
            />
          </picture>
        </div>
        <div class="col-md-9 about__detail">
          <h2
            class="block__title"
            aria-label="Know Harold"
            role="heading"
            aria-level="2"
          >
            <span class="block__title-up">Know</span>
            <span class="block__title-content"> About Me </span>
          </h2>
          <ul class="about__list">
            <li class="about__item">
              President of CRYE-LEIKE, Inc. (Memphis, Nashville, Chattanooga,
              Little Rock, Atlanta, Jackson, MS, Northwest Arkansas, and
              Knoxviille, TN)
            </li>
            <li class="about__item">
              Co-Founded CRYE-LEIKE of Memphis in 1977 with Dick Leike. It
              became the largest real estate firm in Memphis.
            </li>
            <li class="about__item">
              Bachelors of Science, Arkansas State University
            </li>
          </ul>
           {{forms.link(value='Read More',classes='btn btn--border-invert',iconclass='right-arrow-long',iconpos='right')}}
        </div>
      </div>
    </div>
  </div>
</section>
