{% set titleUp = "our" %}
{% set titleContent = "Mobile App" %}
<section class="block block--bg-color">
    <img src="images/dots-long.png" alt="" class="mobileapp__dots">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col--djac">
                <div class="block__card block__card--noborrad block__card--shadow">
                 {% include "partials/sectionHeading.html" %}
                    <div class="block__card-content">
                        Download our Crye‑Leike Mobile App. The features that you love from
                        this web site are now accessible anywhere you go and even more
                        relevant.
                    </div>
                    <div class="mobileapp__avail">
                        <b class="mobileapp__avail-title">
                            Available on 
                        </b>
                        <div>
                            <a href="" class="btn btn--icon btn--light mobileapp__avail-btn">
                                <span class="icon icon-apple"></span>
                                App Store
                            </a>
                            <a href="" class="btn btn--icon btn--light mobileapp__avail-btn">
                                <span class="icon icon-google-play"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
                                Google Play
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <picture class="mobileapp__picture">
                    <source
                        srcset="images/mobile-app.webp 1x, images/mobile-app-2x.webp 2x, images/mobile-app-3x.webp 3x"
                        type="image/webp">
                    <img src="images/footer-logo.png"
                        srcset="images/mobile-app.png 1x, images/mobile-app-2x.png 2x, images/mobile-app-3x.png 3x"
                        alt="Crye-Leike mobile app image ">
                </picture>
            </div>
        </div>
    </div>
</section>