{% set titleUp = "My" %}
{% set titleContent = "Crye Leike" %}
{% set myCryeItems = [{ 
        title: "Crye‑Leike Virtual Agent",content:"Get Automatic Updates Sent Straight To Your Email Inbox.",icon:"icon-man"},
        { title: "Favorite Properties",content:"Add Tags To Your Listings To Keep Up With Those Properties.",icon:"icon-heart"},
        { title: "Save Searches",content:" Save Your Frequent Searches For Easy Reference.",icon:"icon-search"
    }] 
%}
<section class="block services services--cryeleike block--animation">
    <div class="container">
        {% block heading %}
            <div class="block__title-wrap">
                {% include "partials/sectionHeading.html" %}
            </div>
        {% endblock %}
        <div class="row services__list">
            {% for item in myCryeItems %}
                <div class="col-md-4 col-lg-4 services__item">
                    <div class="block__card block__card--nopadbor">
                     <div class="services__icons"><i class="icon {{item.icon}}"></i></div>
                        <h3 class="services__title" role="heading" aria-level="3">{{ item.title | trim }}</h3>
                        <p class="services__content">{{ item.content | trim }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>