{% set relocation= [
    {'title' : 'Domestic Relocation Services','content':'From full service to limited benefits to lump sum'},
    {'title' : 'International Relocation Services','content':'Providing all U.S and Canadian inbound logistical'},
    {'title' : 'Elevated Relocation Allowance Program','content':'A full service lump sum option'},
    {'title' : 'Program Management','content':'Total account management support'},
    {'title' : 'Service Provider Network','content':'Trusted and vetted service partners'},
    {'title' : 'Technology','content':'3 portal access 24/7'}
    ] %}
    {% import 'macros/servicesloop.html' as services %}
    {% import 'macros/blocktitle.html' as blocktitle %}
<section class="section section--bg section--wave">
    <div class="section__wave"></div>
    <div class="container">
        {{blocktitle.blocktitle('2','Corporate Relocation Services')}}
        {{services.servicesloop(relocation,'relocation')}}
    </div>
</section>