{% set titleUp = "our" %} 
{% set titleContent = "Services" %} 
{% set servicesItems = [ { title: "Selling Your Home ?", content:"Setting the right
price before you list is critical to getting the most for your home and selling
it quickly. You can also request a complimentary, no obligation Comparative
Market Analysis (CMA).", icon:"home-with-hand" }, { title: "Buying A New Home
?", content:"Whether it will be your first home or next home, information is
power. Learn about the home buying process and use our informational tools to
help guide you through the process.", icon:"key-with-hand" }, { title:
"Voicepad", content:"Drive by a home for sale... Want to know the price or see
pictures of the inside? Register to use Crye-Leike's recorded 24/7 Info Line.
Searches homes listed by any company!", icon:"24x7" }] %} {% import
"macros/inputFeilds.html" as forms %}
<section class="block services block--animation">
  <div class="container">
    {% block heading %}
    <div class="block__title-wrap">
      {% include "partials/sectionHeading.html" %}
    </div>
    {% endblock %}
    <div class="row services__list">
      {% for item in servicesItems %}
      <div class="col-md-4 col-lg-4 services__item">
        <div class="block__card block__card--hover">
          <div class="services__icons">
            <i class="icon icon-{{item.icon}}"></i>
          </div>
          <h3 class="services__title" role="heading" aria-level="3">
            {{ item.title | trim }}
          </h3>
          <p class="services__content">{{ item.content | trim }}</p>
          {{forms.link(value='Read More',classes='btn btn--border-invert',iconclass='right-arrow-long',iconpos='right')}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
