{% set testimonial = true %}
{% set heroInner = true %}
{% set heroTitle = 'Account Management' %}
{% import 'macros/blocktitle.html' as blocktitle %}
{% import 'macros/picture.html' as pictures %}
{% import 'macros/servicesloop.html' as services %}
{% set relocation= [
    {'title' : 'Client Relationship'},
    {'title' : 'Program Implementation'},
    {'title' : 'Policy Development'},
    {'title' : 'Reporting & Technology'},
    {'title' : 'Service Partners'},
    {'title' : 'Group Move Management'}
    ] %}
    {% import 'macros/servicesloop.html' as services %}
    {% import 'macros/blocktitle.html' as blocktitle %}
{% extends "base.html" %}
{% block main %}
<section class="section section--bg section--bgtop section--wave">
    <div class="section__wave"></div>
    <div class="container">
        {{blocktitle.blocktitle('2','Strategic Account Management Services')}}
        <div class="section__content marb-2">
            <b class="section__highlight">
                Acting As A Trusted Advisor For Our Clients 
            </b>
            <p>
                Effective account management is the key to developing and maintaining a successful corporate relocation program. The Account Manager acts as the architect of the relocation program and the bridge-builder between all key stakeholders within your organization and Focus Relocation. 
            </p>
            <p>
                The Account Manager also strategically maneuvers the ever-changing landscape of relocation by keeping up to date on governmental and industry related trends. By doing so, our clients stay educated and informed of the impact to their program and company goals and to ensure the success of the relocation program. 
            </p>
        </div>
        {{services.servicesloop(relocation,'am','section__card--type2')}}
    </div>
</section>{% endblock %}