{% set description = "Buy page" %} 
{% set keywords = "Harold Crye, crye-leike,homes for sale, real estate" %} 
{% set heroIn = true %} 
{% set pageTitle= "Buy" %}
{% set titleContent = articalsonbuy.title %}
{% extends "layout.html" %} 
{% block main %}
    {%block hero %}
        {% include "partials/hero.html" %} 
    {% endblock %} 
    <section class="block block--bg-color block--listing">
    <img src="images/dots-long.png" class="about__dots" alt="">
        <div class="container">
       {% for item in articalsonbuy.articalsList %}
            <div class="block__list">
                <h2 class="block__title block__title--dark list__title">{{item.title}}</h2>
                <ul class="list__type list__type--one">
                    {% for linksitem in item.links %}
                        <li class="list__item"><a href="" class="list__link">{{linksitem.linktitle}}</a>
                        </li>
                    {% endfor %}
                </ul>
                </div>
            {% endfor %}
        </div>
    </section>
     <section class="block block--listing">
        <div class="container">
            {% block heading %}{% include "partials/sectionHeading.html" %}{% endblock %} 
        {% for item in articalsonbuy.articalsList %}
            <div class="block__list">
                <h2 class="block__title block__title--dark list__title">{{item.title}}</h2>
                <ul class="list__type list__type--one">
                    {% for linksitem in item.links %}
                        <li class="list__item"><a href="" class="list__link">{{linksitem.linktitle}}</a>
                        </li>
                    {% endfor %}
                </ul>
                </div>
            {% endfor %}
        </div>
    </section> 
    {%block common %} 
        {% include "partials/common.html" %} 
    {% endblock %} 
{% endblock%}
