{% set testimonial = false %}
{% set heroInner = true %}
{% set heroTitle = 'Contact Us' %}
{% import 'macros/picture.html' as pictures %}
{% extends "base.html" %}
{% import 'macros/blocktitle.html' as blocktitle %}
{% import 'macros/inputFeilds.html' as field %}
{% set forms = [
    {
        'title' : 'First Name',
        'type' : 'text'
    },
    {
        'title' : 'Last Name',
        'type' : 'text'
    },
    {
        'title' : 'Email',
        'type' : 'email'
    },
    {
        'title' : 'Your Comments',
        'type' : 'textarea'
    }

    ] %}
{% block main %}
    <section class="section section--wave section--bgtop">
        <div class="section__wave"></div>
        <div class="container">
            <div class="section__dflex section__contact">
                <div class="section__contact-left">
                    {{blocktitle.blocktitle('2',"Let's Get Started",'section__title--2')}}
                    <form action="">
                            {% for form in forms %}
                                    {{field.field(label= form.title,type=form.type,name=form.title|replace(' ','')|lower,id="cont"+form.title|replace(' ','')|lower)}}
                            {% endfor %}
                            {{field.button(value="submit",classes="btn--primary btn--block")}}
                    </form>
                </div>
                <div class="section__contact-right">
                    <h3 class="section__contact-title">
                        Address
                    </h3>
                    <address>
                        5109 Peter Taylor Park Drive Suite #200 Brentwood, TN 37027
                    </address>

                </div>
            </div>
        </div>
    </section>
{% endblock %}