{% set description = "PRIVACY POLICY & TERMS OF USE page" %}
{% set keywords = "Harold Crye, crye-leike,homes for sale, real estate" %}
{% set heroIn = true %}
{% set pageTitle= "Privacy And Terms " %}
{% set titleContent = "Your Scheduled Emails" %}
{% import "macros/inputFeilds.html" as forms %}
{% extends "layout.html" %} {% block main %} {%block hero %} 
{% include "partials/hero.html" %} {% endblock %}


<section class="block block--privacy">
  <img src="images/dots-long.png" class="about__dots" alt="" />
  <div class="container">
    <p>All contents copyright © {{now}} Crye-Leike. </p>
    <p>Our offerings of real estate properties for sale are only valid in the states in which we are licensed. Crye-Leike makes no warranty or representation regarding the truthfulness or completeness of any information contained herein or in any hyperlink site herein. The information being provided is for consumers' personal, non-commercial use and may not be used for any purpose other than to identify prospective properties consumers may be interested in purchasing. Some or all of the listings displayed may not belong to the firm whose website is being visited. We do not discriminate against any person because of race, color, religion, sex, handicap, familial status, or national origin. Individual real estate licensees are independent contractors and may be REALTORS.
    </p>
    <p>We strive to provide all of our online visitors with an enjoyable website experience. To that end, we are actively working to improve website accessibility for all of our members and guests with disabilities. If you experience trouble navigating, viewing, or otherwise accessing content appearing on these pages, please do not hesitate to contact us. Our goal is to ensure that you have access to the tools and resources you need. If you require any of our website content in an alternate format, please let us know, and we will do everything within our means to provide it to you. We welcome any and all suggestions for improving our website's accessibility. Please contact us to make any reasonable accommodations regarding ADA accessibility. 866-310-3102.
    </p>
    <p>We care about how your personal information is used and shared, and we take your privacy seriously. When you purchase a course through our site and/or send us a request through one of our online contact forms, we only use your information to help with your request. We won't spam you.
    </p>
    <p>We may store your ip address, cookies and information about the page you requested, when you use our website. We use this information to help make sure our web site is working correctly and keep up with traffic trends.
    </p>
    <p>Google Analytics Disclaimer: We review traffic logs and patterns in our site traffic in order to provide more effective service to meet our clients needs. We use this information to determine which features to offer on the site and areas that are most/least frequently accessed. We want this site to be as helpful as possible for you. Google requires we include our privacy policy to note that we may access the following features in finding out more about our visitors. This includes features such as age, gender, and interests, ad impressions, or services. Using Google's Ads Settings, visitors can opt-out of Google Analytics for Display Advertising and customize Google Display Network ads.
    </p>
  </div>
</section>
{%block common %} {% include "partials/common.html" %} {% endblock %} {%endblock%}