{% set description = "Personal profile page" %} {% set keywords = "Harold Crye,
crye-leike,homes for sale, real estate" %} {% set heroIn = true %} {% set
pageTitle= "Personal Profile" %} 
{% set options = [
  {'title':'Have you been pre-approved for a mortgage?','name' : 'preapprovel'},
  {'title':'Are you selling a home?','name' : 'sellinghome'},
  {'title':'Are you buying a home?','name' : 'buyinghome'}
  ] %}

  {% set stateOptions = ['Alabama',' Alaska','Arizona','Arkansas'] %}

{% import "macros/inputFeilds.html" as forms %}
{% extends "layout.html" %} {% block main %} {%block hero %} {% include
"partials/hero.html" %} {% endblock %}
<section class="block block--listing">
  <img src="images/dots-long.png" class="about__dots" alt="" />
  <div class="container">
    <div class="dashboard__top dashboard__top--end">
      {{forms.link(value='Back to Dashboard',classes='btn btn--border-invert',iconclass='left-arrow-long',iconpos='left')}}
    </div>
    <p>
      Please complete the information listed below. To ensure Barbara Acree can
      assist with all your needs, please provide accurate and complete
      information. By registering on this site you are making an inquiry and
      granting permission for Barbara Acree to contact you via telephone and/ or
      email.
    </p>
    <form class="form">
      <fieldset class="form__fieldset">
        <legend class="block__title form__legend">
          <span class="block__title-content">Basic Info</span>
        </legend>
        <div class="row">
          <div class="col-md-4">
            {{ forms.field(name='profilefirstname', label='First Name',
            required=true, id='profilefirstname')}}
          </div>
          <div class="col-md-4">
            {{ forms.field(name='profilelastname', label='Last Name',
            required=true, id='profilefirstname')}}
          </div>
          <div class="col-md-4">
            {{ forms.field(name='profileemail', label='Email Address',
            required=true, id='profileemail', type='email') }}
          </div>
          <div class="col-md-4">
            {{ forms.field(name='profilepass', label='New Password',
            required=true, id='profilepass', type='password')}}
          </div>
          <div class="col-md-4">
            {{ forms.field(name='profileconfirmpass', label='Re-Enter Password',
            required=true, id='profileconfirmpass', type='password') }}
          </div>
        </div>
      </fieldset>
       <fieldset class="form__fieldset">
        <legend class="block__title form__legend">
          <span class="block__title-content">Address/Contact</span>
        </legend>
        <div class="row">
          <div class="col-md-4">
            {{ forms.field(name='profilecurrentaddress', label='Current Address',
            required=true, id='profilecurrentaddress')}}
          </div>
          <div class="col-md-4">
            {{ forms.field(name='profilecurrentaddress2', label='Current Address 2',
            required=true, id='profilecurrentaddress2')}}
          </div>
          <div class="col-md-4">
            {{ forms.field(name='profilecity', label='City',
            required=true, id='profilecity', type='text') }}
          </div>
          <div class="col-md-4">
            {{forms.select(id='profileselect', label='State', name='profileselect', options=stateOptions)}}
          </div>
          <div class="col-md-4">
            {{ forms.field(name='profilezip', label='Zip',
            required=true, id='profilezip', type='number') }}
          </div>
           <div class="col-md-4">
            {{ forms.phone(name='profilehomephone', label='Home Phone', id='profilehomephone', type='number') }}
          </div>
         <div class="col-md-4">
            {{ forms.phone(name='profileworkphone', label='Work Phone', id='profileworkphone', type='number', required='true') }}
          </div>
            <div class="col-md-4">
            {{ forms.phone(name='profilecellphone', label='Cell Phone', id='profilecellphone', type='number') }}
          </div>
        </div>
      </fieldset>
       <fieldset class="form__fieldset">
         <legend class="block__title form__legend">
          <span class="block__title-content">Optional Information</span>
        </legend>
        <div class="form__group">
          {% for item in options %}
          <div class=" form__options form__options--radio">
            <b class="form__radio--inline">{{item.title}}</b>
            <label class="form__radio form__radio--inline">
              <input type="radio" name="{{item.name}}">
              <span class="form__span">Yes</span>
            </label>
            <label class="form__radio form__radio--inline">
              <input type="radio" name="{{item.name}}">
              <span class="form__span">No</span>
            </label>
          </div>      
            {% endfor %}
        </div> 
       </fieldset>
       <div class="row">
          <div class="col-md-6">
            {{forms.select(id='profileapprox', label='Approximate time before buying or selling a home:', name='profileapprox', options=stateOptions)}}
          </div>
           <div class="col-md-12">
              {{ forms.button(classes='btn--border-invert', iconpos='right', iconclass='right-arrow-long', value='Submit')}}
              {{ forms.button(classes='btn--border-invert', value='Clear', type='button')}} 
          </div>
        </div>

    </form>
  </div>
</section>
{%block common %} {% include "partials/common.html" %} {% endblock %} {%endblock%}
