{% set description = "Saved Searches profile page" %}
{% set keywords = "Harold Crye, crye-leike,homes for sale, real estate" %}
{% set heroIn = true %}
{% set pageTitle= "Saved Searches" %}
{% import "macros/inputFeilds.html" as forms %}
{% extends "layout.html" %} {% block main %} {%block hero %} {% include
"partials/hero.html" %} {% endblock %}
{% set saveListing = [
{'title': 'Memphis, TN Active Properties','details':[
{'name':'Email updates','value' : 'Daily'},
{'name':'Maximum Properties per email','value' : 25},
{'name':'Listing Types','value' : 'Residential/Single Family'},
{'name':'Mile Radius','value' : 30}
]},
{'title': 'Nashville, AR','details':'teaaaa','details':[
{'name':'Email updates','value' : 'Daily'},
{'name':'Maximum Properties per email','value' : 25}
]},
{'title': 'Memphis, TN Active Properties','details':[
{'name':'Listing Types','value' : 'Residential/Single Family'},
{'name':'Mile Radius','value' : 30}
]},
{'title': 'Nashville, AR','details':[
{'name':'Email updates','value' : 'Daily'},
{'name':'Maximum Properties per email','value' : 25},
{'name':'Listing Types','value' : 'Residential/Single Family'},
{'name':'Mile Radius','value' : 30}
]},
{'title': 'Memphis, TN Active Properties',
'details':[
{'name':'Email updates','value' : 'Daily'},
{'name':'Mile Radius','value' : 30}
]}
]%}
<section class="block block--listing block--savesearch">
  <img src="images/dots-long.png" class="about__dots" alt="" />
  <div class="container">
    <div class="dashboard__top dashboard__top--end">
      {{forms.link(value='Back to Dashboard',classes='btn
      btn--border-invert',iconclass='left-arrow-long',iconpos='left')}}
    </div>
    <ul class="list__type list__type--savesearch">
      {% for item in saveListing %}
      <li class="list__item">
        <div class="list__item-top">
          <div>{{ item.title | trim }} <i class="icon icon-search"></i></div>
          <div class="list__actions">
            {{forms.button(value='Details', classes='btn--action btn--detail', iconpos='left', iconclass='details')}}
            {{forms.link(value='Modify', classes="btn btn--action", iconpos='left', iconclass='details')}}
            {{forms.buttonModal(value='Delete', classes="btn btn--action", iconpos='left', iconclass='delete',
            dataToggle='modal', dataTarget='#exampleModal')}}
          </div>
        </div>
        <div class="list__details">
          <div class="row">
            {% for detail in item.details %}
            <div class="col-md-4">
              <b>{{detail.name}} : </b>{{detail.value}}
            </div>
            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{%block common %} {% include "partials/common.html" %} {% endblock %} {%endblock%}
{% block js %}
<script>
  console.log('this is demo');

  const btnDetail = $(".btn--detail");
  btnDetail.on("click", function () {
    $(this).closest('.list__item').toggleClass('list__item--active').siblings().removeClass('list__item--active')
  })
</script>
{%endblock%}