{% set description = "home page" %} 
{% set keywords = "Harold Crye, crye-leike,homes for sale, real estate" %} 
{% set heroIn = true %} 
{% set pageTitle= "Sign In / Sign Up" %}
{% set titleContent = 'Search For A Home Made Easy' %}
{% import "macros/inputFeilds.html"  as forms %}
{% import "macros/listingLoop.html"  as listing %}
{% set listingItems = [
    {
        content:"Save property searches based on your criteria. Multiple searches can be saved based on neighborhood, area, city, property type, etc."
    },
    { 
        content:"Add properties of interest to a favorites list. You can quickly access a list of properties saved from a previous visit each time you login to My Crye-Leike."
    },
    {
        content:"Receive e-mail notifications. Carol Williams can notify you via e-mail when new properties match one or all of your saved searches, so you do not miss any new 
listings."
    }] 
%}
{% set terms = [
    {
        "content" : "In order to show you all of the data available from the Multiple Listing System (MLS) system, the MLS requires that you register for an account with us. The data we provide is above and beyond what other real estate web sites are allowed to show the public."
    },
    {
        "content" : "By registering for an account on our site, you are given access to additional features, such as saving listings and custom searches. In addition we offer you in depth data not available to the public. The data we provide you is the same data available to real estate professionals from the MLS. Our off-market statistics do not rely solely on public records or tax data, like some other sites."
    },
    {
        "content" : "We will not spam you. Your account on this site is for you to have access to these tools for your real estate needs."
    }
]%}

{% set registerForm = [
    {
        "title" : 'First Name',
        "type" :"text"    
    },
    {
        "title" : 'Last Name',
        "type" :"text"    
    },
    {
        "title" : 'Email Address',
        "type" :"email"    
    },
    {
        "title" : 'Password',
        "type" : "password"  
    },
    {
        "title" : 'Confirm Password',
        "type" : "password"    
    }
] %}
{% extends "layout.html" %} 
{% block main %}
    {%block hero %}
        {% include "partials/hero.html" %} 
    {% endblock %}
    <section class="block">
        <div class="container block__container">
            <ul class="nav nav-tabs nav--ctabs" id="myTab" role="tablist">
                <li class="nav-item nav__item" role="presentation">
                    <a class="nav-link active nav__link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                        Sign In
                    </a>
                </li>
                <li class="nav-item nav__item" role="presentation">
                    <a class="nav-link nav__link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                        Sign Up
                    </a>
                </li>
            </ul>
            <div class="tab-content nav__tab-content">
                <div class="tab-pane nav__tab-panel active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p><b>Existing Users Sign In!</b></p>
                    <form class="form">
                        <div class="row">
                            <div class="col-md-6">
                                {{ forms.field(name='email', label='Email Address', required=true, id='email') }}
                            </div>
                            <div class="col-md-6">
                                {{ forms.field(type='password', name='password', label='Password', required=true, id='password') }}
                            </div>            
                            <div class="col-md-12">
                                {{ forms.button(classes='btn--border-invert', iconclass='arrow', value='Login')}}
                            </div>
                        </div>
                    </form>
                    <hr>
                      <div>
                        {% block heading %}{% include "partials/sectionHeading.html" %}{% endblock %} 
                        <p>
                            <b>Harold Crye</b> knows searching for homes can be difficult with so many choices and search options. This process is now much easier with My Crye-Leike. By registering with My Crye-Leike, you are able to:
                        </p>
                        {{listing.liststyle(loopitem = listingItems,type=2 )}}
                    </div>
                </div>
                <div class="tab-pane nav__tab-panel" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <p><b>Register for an Account!</b></p>
                    <form class="form form--signup">
                        <div class="row">
                            {% for item in registerForm %}
                                <div class="col-md-6">{{forms.field(name=item.title|replace(' ','')|lower, label=item.title,id="reg"+item.title|replace(' ','')|lower, required=true)}}</div>
                            {% endfor %}
                        </div>
                        <label for="regconfirmpassword" class="form__label">Terms &amp; Condition <sup>*</sup></label>
                        <div class="block__card block__card--bg form__group">
                            <div class="block__card-content block__card-contentnomar">
                                <p> Crye-Leike.com Account Terms Of Use: </p>
                                {% for item in terms %}<p>{{item.content}}</p>{% endfor %}
                            </div>
                        </div>
                        <div class="form__group">
                            <b class="form__radio--inline">I have read and agree to the Terms of Use</b>
                            {{forms.field(type="radio",name="regterms", value="Yes", classes="form__radio--inline")}}
                             {{forms.field(type="radio",name="regterms", value="No", classes="form__radio--inline")}}
                        </div>
                        {{ forms.button(classes='btn--border-invert', iconclass='arrow', value='Sign Up')}}
                    </form>
                </div>  
            </div>
        </div>
    </section>
    {%block common %} 
        {% include "partials/common.html" %} 
    {% endblock %} 
{% endblock%}
