{% set description = "Testimonials Page" %} {% set keywords = "Harold Crye,
crye-leike,homes for sale, real estate" %} {% set heroIn = true %} {% set
pageTitle= "Testimonials" %} {% extends "layout.html" %} {% block main %}
{%block hero %} {% include "partials/hero.html" %} {% endblock %}
<section class="block">
  <img src="images/dots-long.png" class="about__dots" alt="" />
  <div class="container">
    <div id="TestimonialTree_Widget_7617" class="TestimonialTreeWrap"></div>
    <script
      src="https://testimonialtree.com/widgets/?widgetid=7617&username=cryeleike_hcrye"
      type="text/javascript"
    ></script>
  </div>
</section>
{%block common %} {% include "partials/common.html" %} {% endblock %} {%
endblock%}
