{% set description = "Virtual Agents Email Updates page" %}
{% set keywords = "Harold Crye, crye-leike,homes for sale, real estate" %}
{% set heroIn = true %}
{% set pageTitle= "Virtual Agents Email Updates " %}
{% set titleContent = "Your Scheduled Emails" %}
{% import "macros/heading.html" as heading %}
{% import "macros/inputFeilds.html" as forms %}
{% extends "layout.html" %} {% block main %} {%block hero %} {% include
"partials/hero.html" %} {% endblock %}

{% set saveListing = [
{'title': 'Memphis, TN Active Properties'},
{'title': 'Nashville, AR'},
{'title': 'Memphis, TN Active Properties'},
{'title': 'Nashville, AR'},
{'title': 'Memphis, TN Active Properties'}
]%}
<section class="block block--listing block--savesearch">
  <img src="images/dots-long.png" class="about__dots" alt="" />
  <div class="container">
    <div class="dashboard__top dashboard__top--end">
      {{forms.link(value='Back to Dashboard',classes='btn
      btn--border-invert',iconclass='left-arrow-long',iconpos='left')}}
    </div>
    <div class="block__card block__card--bg block__card--mar2 block__card--nobor block__warning">
      <i class="icon icon-alert"></i> To schedule a new Virtual Agent Email Update
      {{forms.link(value='Create a New Search',classes="block__link block__link--primary")}}
    </div>
    {% block heading %}
    {{heading.title(type='2',value='test heading')}}
      {% include "partials/sectionHeading.html" %}
    {% endblock %}
    
    <ul class="list__type list__type--savesearch">
      {% for item in saveListing %}
      <li class="list__item">
        <div class="list__item-top">
          <div>{{ item.title | trim }}</div>
          <div class="list__actions">
            {{forms.button(value='Remove', classes='btn--action', iconpos='left', iconclass='cross')}}
          </div>
        </div>
        <div class="list__details">
          <div class="row">
            {% for detail in item.details %}
            <div class="col-md-4">
              <b>{{detail.name}} : </b>{{detail.value}}
            </div>
            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
 
</section>
{%block common %} {% include "partials/common.html" %} {% endblock %} {%endblock%}