{% macro field(name, value = '', type, label, id, required = false, classes) %}
{% if type=="checkbox" or type=="radio" %}
<label {% if id %}for={{id}}{% endif %} class="form__{{type}} {{classes}}">
  <input type="{{ type }}" name="{{ name }}" {% if id %}id="{{id}}" {% endif %} />
  <span class="form__span">{{ value | escape }}</span>
</label>
{% elif type=="textarea"%}
<div class="form__group">
  <label {% if id %}for={{id}}{% endif %} class="form__label">{{label}} {% if required %}<sup>*</sup>{% endif %}</label>
  <textarea {% if id %}id="{{id}}" {% endif %} name="{{ name }}" rows="{{ rows }}"
    class="form__input {{classes}}">{{ value|e }}</textarea>
</div>

{% else %}
<div class="form__group">
  <label {% if id %}for={{id}}{% endif %} class="form__label">{{label}} {% if required %}<sup>*</sup>{% endif %}</label>
  <input {% if id %}id="{{id}}" {% endif %} type="{{type|default('text')}}" name="{{name}}" value="{{value|escape}}"
    required="{{required}}" class="form__input {{classes}}" />
</div>
{% endif %}
{% endmacro %}

{% macro button(type, iconclass, value, classes, iconpos) %}
<button type="{{ type |default('submit')}}"
  class="btn {{classes}} {%if iconpos == 'left'%}btn--icon btn--left-icon{% elif iconpos == 'right'%}btn--icon btn--right-icon{%else%}{% endif %}">{%if
  iconpos == "left"%}
  <i class="icon icon-{{iconclass}}" aria-hidden="true"></i>
  {{value | default('Submit')}}
  {% elif iconpos == "right"%}
  {{value}}
  <i class="icon icon-{{iconclass}}" aria-hidden="true"></i>
  {%else %}{{value}}{% endif %}
</button>
{% endmacro %}