%disflex {
  display: flex;
}
%flexCol {
  flex-direction: column;
}

%alignCenter {
  align-items: center;
}

%displayfcol {
  @extend %disflex;
  @extend %flexCol;
}

%weight600 {
  font-weight: 600;
}

%weight700 {
  font-weight: 700;
}

%font17 {
  font-size: 1.0625rem;
}

%font18 {
  font-size: 1.125rem;
}

%font32 {
  font-size: 2rem;
}
%primaryColor {
  color: $primaryColor;
}

%nostyle {
  margin:0;
  list-style: none;
  padding: 0;
}

%textdecnon{
  text-decoration: none;
}
%notlast{
  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

%notlast30{
  &:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}


%disflexcol{
  @extend %displayfcol;
  justify-content: center;
}
%disalignCenter{
  @extend %displayfcol;
  align-items: center;
}

%rowreverse{
  flex-direction: row-reverse;
}