%disflex{
    display: flex;
}
%flexCol{
    flex-direction: column;
}

%alignCenter{
    align-items: center;
}

%displayfcol{
    @extend %disflex; 
    @extend %flexCol; 
}

%weight600{
    font-weight: 600;
}

%weight700{
    font-weight: 700;
}

%font17{
    font-size: 1.0625rem;
}

%font32{
    font-size: 2rem;
}